<%= form_with(model: nora_repository, local: true) do |form| %>
  <% if nora_repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nora_repository.errors.count, "error") %> prohibited this nora_repository from being saved:</h2>

      <ul>
      <% nora_repository.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :nora_repository_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :nora_repository_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
