<!DOCTYPE html>
<html>
<head>
  <title>Nora</title>
  <%= stylesheet_link_tag    "nora/application", media: "all" %>
  <%= javascript_include_tag "nora/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_id] %>
  <%= link_to "sign out", sign_out_path, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
